 <!-- 
  File name: bottom_nav.ejs
  Student’s Name: Wonsuk Cha
  StudentID: 301155132
  Date: 2021.02.13.
 -->     
      
      
<!-- Bottom Navigation -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text"> &copy; Copyright 2021. All rights reserved. </h6>
  </nav>
</footer>