 <!-- 
  File name: footer.ejs
  Student’s Name: Wonsuk Cha
  StudentID: 301155132
  Date: 2021.02.13.
 -->    

<!-- Script Section -->
<script src='/jquery/dist/jquery.min.js'></script>
<script src='/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='/Scripts/app.js'></script>
</body>

</html>