<%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <section class="about-section py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/Assets/images/wonsuk.jpg" class="img-fluid" alt="Wonsuk">
                    </div>
                    <div class="col-md-8">
                        <h1>Wonsuk Cha</h1>
                        <p>I was born in Seoul, South Korea.
                            <br>I majored in Chemistry Education at Seoul National University.
                            <br>I have worked for three companies in Tokyo, Japan.
                            <br> - Sumitomo Heavy Industry: Sales staff
                            <br> - Deloitte Tohmatsu Consulting: Business Consultant & RPA Developer
                            <br> - Daimler Truck Asia: Business Consultant & RPA Developer
                        </p>
                        <div>

                            <a href="/Assets/pdf/resume.pdf">
                                <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-file-pdf mr"></i>
                                    Check Resume</button>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>