/***************

File name: app.css
Student’s Name: Wonsuk Cha
StudentID: 301155132
Date: 2021.02.13.

 ***************/

 /* Common style */
.nav-logo {
    max-width: 50px;
    max-height: 50px;
}

body {
    color: #5b5b5b;
}

.section-heading {
    font-size: 50px;
    font-weight: 700;
}

.btn-text {
    text-transform: uppercase;
    font-weight: 700;
}

.card-img {
    max-height: 230px;
}

 /* Home style */
.home-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
