/* Custom style goes here */

.nav-logo {
    max-width: 50px;
    max-height: 50px;
}

body {
    color: #5b5b5b;
}

.section-heading {
    font-size: 50px;
    font-weight: 700;
}

.home-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-text {
    text-transform: uppercase;
    font-weight: 700;
}

.card-img {
    max-height: 230px;
}
